:root {
    --main-color: #400; /*#460000*/ /*#8a110b*/ /*#332310*/

    --main-text-color: #fff;
    --bs-font-sans-serif: 'Montserrat';
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-weight: 100;
    --bs-body-bg: var(--main-color);
    --bs-body-bg-rgb: 68, 0, 0; /*51, 35, 16*/ /*68, 0, 0*/ /*64, 9, 7*/
    --bs-body-color: var(--main-text-color);
    --bs-secondary-bg: var(--main-color);
    --bs-secondary-color: var(--main-text-color);
    --bs-link-color-rgb: var(--main-text-color);
    --bs-link-hover-color-rgb: 255, 255, 255;
    --bs-body-font-size: 1.0rem;
    --bs-box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
}

html {
    font-size: 25px;
}

.italianno {
    font-family: 'Italianno';
}

a {
    text-decoration: none !important;
    opacity: 1;
    transition: opacity 0.4s;
}

footer {
    font-size: 80%;
}

.carousel-img {
    width: 60vmin;
    box-shadow: var(--bs-box-shadow);
}

.top-2 {
    top: 2% !important;
}

.bottom-7 {
    bottom: 7% !important;
}

.opacity-75-hover:hover {
    opacity: 0.75;
}

@media (max-width: 768px) {
    .bg {
        background-position: left -17vh bottom 0;
    }
}

@media (max-width: 1920px) {
    html {
        font-size: 20px;
    }
    .carousel-img {
        width: 70vmin;
    }
}