* {
    margin: 0;
    box-sizing: border-box;
}

.welcome-center p {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    line-height: 1.5;
}

.welcome-center {
    margin-top: 300px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 5vh 5vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

@media (max-width: 720px) {
    #footer-info {
        flex-direction: column;
    }
    .footer-content {
        margin: 2.5vh 0;
    }
}

