@font-face {
    font-family: 'Monteserrat';
    src: url(Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: 'Italianno';
    src: url(Italianno-Regular.ttf) format("truetype");
}