:root {
    --main-color: #332310;
    --main-text-color: #fff;
    --bs-font-sans-serif: 'Montserrat';
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-weight: 100;
    --bs-body-bg: var(--main-color);
    --bs-body-color: var(--main-text-color);
    --bs-secondary-color: var(--main-text-color);
    --bs-link-color-rgb: var(--main-text-color);
    --bs-link-hover-color-rgb: 255, 255, 255;
    --bs-body-font-size: 1.0rem;
}

html {
    font-size: 25px;
}

.italianno {
    font-family: 'Italianno';
}

a {
    text-decoration: none !important;
}