* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --footer-font-size: 0.45cm;
    --title-font-size: 5vh;
    --main-color: #332310;
    --main-text-color: #fff;
}

.bubble {
    background: rgba(230, 203, 170, 0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Italianno';
    font-size: var(--title-font-size);
    font-weight: 100;
    color: var(--main-text-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

#background-1 {
    width: 100%;
    height: auto;
}

.welcome-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: fit-content;
    padding: calc(var(--title-font-size)/4) calc(var(--title-font-size)/2);
    margin-left: auto;
    margin-right: auto;
}

.welcome-center p {
    font-weight: bold;
    font-style: italic;
    font-size: var(--title-font-size);
    text-align: center;
    line-height: 1.5;
}

#section-1 {
    width: 100%;
    display: flex;
    position: relative;
}

#section-2 {
    display: flex;
    width:100%;
    position: relative;
    background-color: var(--main-color);
    height: fit-content
}

/* #background-2 {
    width: 100%;
    height: auto;
} */

.left {
    align-items: left;
    text-align: left;
    float: left;
}

.right {
    align-items: right;
    text-align: right;
    float: right;
}

#menu{
    color: var(--main-text-color);
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* height: 150vh; */
}

#menu-items-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* align-items: left; */
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 5vh 3vw;
    position: static;
    bottom: 0;
    width: 100%;
}

#footer-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    font-size: var(--footer-font-size);
}

#opening-hours .align-container {
   display: flex;
   gap: 50px;
   max-width: 180px;
   margin-left: auto;
   margin-right: auto;
}

#opening-hours .align-container .left {
    margin-right: auto;
    text-align: left;
}

#opening-hours .align-container .right {
    margin-right: left;
    text-align: right;
}

#footer-info #address {
    width: 20vw;
}

#footer-info #contact {
    width: 20vw;
}

#footer-info a {
    color: white;
}

#social-media-container {
   display: flex; 
   flex-direction: row;
   margin-right: auto;
   margin-left: auto;
   color: white;
   margin-top: 3vh;
   opacity: 1;
   gap: 20px;
}

#social-media-container img { 
    filter: invert(100%);
    stroke: white;
    color: white;
    width: 90%;
}

#footer-credit {
    font-size: var(--footer-font-size);
}

a {
    opacity: 1;
    transition: opacity 0.4s;
}

a:hover {
    opacity: 0.7;
}

a.social-link:hover {
    opacity: 0.5;
}

@media (max-width: 1035px) {
    .welcome-center p {
        font-size: 300%;
    }
    .welcome-center {
        width: 80%;
    }
}

@media (max-width: 740px) {
    .welcome-center p {
        font-size: 250%;
    }
    .welcome-center {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .welcome-center p {
        font-size: 200%;
    }
    .welcome-center {
        width: 90%;
    }
}

@media (max-width: 430px) { /* Phone screen customization */
    :root {
        --footer-font-size: 0.5cm;
        --title-font-size: 7vw;
    }
    #footer-info {
        flex-direction: column;
    }
    .footer-content {
        margin: 2.5vh 0;
    }
    #footer-info #address {
        width: auto;
    }
    #footer-info #contact {
        width: auto;
    }
    .content {
        margin-left: 3vw;
        padding: calc(var(--title-font-size)/4);
    }
    .bubble {
        margin-left: 5%;
        margin-right: 5%;
    }
    #background-1 {
        width: 200%;
        height: auto;
    }
    .welcome-center p {
        font-size: 150%;
    }
    .welcome-center {
        width: 80%;
        left: 45%;
    }
}