* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --footer-font-size: 0.45cm;
    --font-size-a: 6vmin;
    --font-size-b: 3vmin;
    --font-size-c: 1.5vmin;
    --font-size-d: 0.5vmin;
    --italianno-font-multiplier: 2;
    --main-color: #332310;
    --main-text-color: #fff;
}

body {
    font-family: 'Montserrat';
    font-weight: 100;
}

h1 {
    font-family: 'Italianno';
    font-size: var(--font-size-a);
    font-weight: 100;
    color: var(--main-text-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

#background-1 {
    width: 100%;
    height: auto;
}

.welcome-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    color: var(--main-text-color);
    padding: calc(var(--title-font-size)/4);
    width: 105%;
    height: 33vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 3vw 3px rgba(0, 0, 0, 1.5);
}

.welcome-center p {
    /* font-size: 1.5vw; */
    font-size: 2.5vmin;
    text-align: center;
    line-height: 1.5;
}

.welcome-center .welcome {
    /* font-size: 2.5vw; */
    font-size: 4.5vmin;
    text-align: center;
    line-height: 1.5;
}

.welcome-center .name {
    font-family: 'Italianno';
    font-size: 9.5vmin;
    /* font-size: 9.5vmin; */
    margin-bottom: 5px;
    padding-right: calc(var(--title-font-size)/4);
}

.welcome-center p a {
    text-decoration: none;
}

#section-1 {
    width: 100%;
    display: flex;
    position: relative;
}

#section-2 {
    display: flex;
    width:100%;
    position: relative;
    background-color: var(--main-color);
    height: fit-content
}

.left {
    align-items: left;
    text-align: left;
    float: left;
}

.right {
    align-items: right;
    text-align: right;
    float: right;
}

.menu-title{
    font-size: calc(var(--font-size-b)*var(--italianno-font-multiplier));
    padding-right: 3px;
}

#menu{
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

#menu-items-container {
    --border: rgba(256, 256, 256, 0.5) solid 1px;
    --border: rgba(0, 0, 0, 1) solid 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1.5em;
    padding: 0px 50px;
}

.menu-border{
    --border: rgba(256, 256, 256, 0.5) solid 1px;
    position: absolute;
    top: 2%;
    bottom: 3.5%;
}

.menu-border.left {
    left: 0;
    border-left: var(--border);
}

.menu-border.right {
    right: 0;
    border-left: var(--border);
}

.menu-item {
    font-style: italic;
}

.menu-item p{
    padding-right: 2px;
}

.pizza-name {
    font-size: calc(var(--font-size-c)*var(--italianno-font-multiplier));
    /* font-size: var(--font-size-c); */
    font-style: normal;
    font-family: "italianno";
    margin: 0;
    padding: 0;
}

.price, .description {
    font-size: var(--font-size-c);
}

.top .right {
    margin-top: calc(var(--font-size-c)/2);
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 5vh 3vw;
    position: static;
    bottom: 0;
    width: 100%;
}

#footer-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    font-size: var(--footer-font-size);
}

#opening-hours .align-container {
   display: flex;
   gap: 50px;
   max-width: 180px;
   margin-left: auto;
   margin-right: auto;
}

#opening-hours .align-container .left {
    margin-right: auto;
    text-align: left;
}

#opening-hours .align-container .right {
    margin-right: left;
    text-align: right;
}

#footer-info #address {
    width: 20vw;
}

#footer-info #contact {
    width: 20vw;
}

#footer-info a {
    color: white;
}

#social-media-container {
   display: flex; 
   flex-direction: row;
   margin-right: auto;
   margin-left: auto;
   color: white;
   margin-top: 3vh;
   opacity: 1;
   gap: 20px;
}

#social-media-container img { 
    filter: invert(100%);
    stroke: white;
    color: white;
    width: 90%;
}

#footer-credit {
    font-size: var(--footer-font-size);
}

a {
    opacity: 1;
    transition: opacity 0.4s;
    color: var(--main-text-color);
    font-weight: 400;
}

a:hover {
    opacity: 0.7;
}

a.social-link:hover {
    opacity: 0.5;
}

@media (max-width: 430px) { /* Phone screen customization */
    :root {
        --footer-font-size: 0.5cm;
        --font-size-a: 7vw;
    }
    #footer-info {
        flex-direction: column;
    }
    .footer-content {
        margin: 2.5vh 0;
    }
    #footer-info #address {
        width: auto;
    }
    #footer-info #contact {
        width: auto;
    }
    .content {
        margin-left: 3vw;
        padding: calc(var(--title-font-size)/4);
    }
    #background-1 {
        width: 200%;
        height: auto;
    }
}